/* Colores:
Rojo:#CC0033
Azul:#132749
Azul op:37435E
gris text:F5F5F5
gris-osc:C4C4C4
rosa:B6656E
*/
body {
    /*background-image: url("imagenes/informatica.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
    font-family:  'Lato', 'Roboto', 'Monserrat';
}
/*Cambios en el header*/
header{
    position:sticky;
    position: -webkit-sticky;
    top:0;
    color:#D6274E;
    z-index: 1;
    background-color:#0B1E46;
}
.navbar{
    background-color:#0B1E46;
    
}
h1{
    color:#CC0033;
    font-weight: bold;
    font-size: 24px;
    margin-top:0.5rem;
    margin-bottom: 1rem;
    width: 100%;
    opacity:100%;
    display: flex;
    justify-content: center;
}
/*Cambios en h1, h6, li y contacto*/
h1>a{
    text-decoration: none;
    color:#D0D3D6;
}
h6>a{
    text-decoration: none;
    color:#D0D3D6;
}
.datos-personales{
    justify-content: space-evenly!important;
    align-items:center;
 }
 .datos-personales>div>button>img{
   width: 1.4em;
   padding:0.2rem;
 }
@media (max-width: 375px) {
    .tamano-header{
        font-size: 12px !important;
    }
    h1{
        font-size:24px;
    }
    .datos-personales>div>button{
        width: 3em;
        height: 3em;
        padding:0.5rem;
        align-items:center;
    }
}

@media (min-width: 375px) {
    .tamano-header{
        font-size: 12px !important;
    }
    h1{
        font-size:24px;
    }
    .datos-personales>div>button{
        width: 3em;
        padding:0.5rem;
        align-items:center;
    }
    .datos-personales>div>button>img{
        width: 4em;
        height:2em;
        max-width:100%; 
      }
      .usuario{
          justify-content: space-around !important;
      }
}
@media (min-width: 425px) {
    .tamano-header{
        font-size: 14px !important;
    }
    h1{
        font-size:28px;
    }
    .datos-personales>div>button{
        width: 3.7em;
        height: 3em;
        padding:0.5rem;
        align-items:center;
    }
    .datos-personales>div>button>img{
        width: 3.5em;
        height: auto;
        padding:0.8rem;
        max-width:100%; 
      }
    .usuario{
        justify-content: flex-end !important;
    }
}
@media (min-width: 768px) {
    .tamano-header{
        font-size: 28px !important;
    }
    h1{
        font-size:48px;
    }
    .datos-personales>div>button{
        width: 5.5em;
        height: 4em;
        padding:0.5rem;
        align-items:center;
    }
    .contenedor>img{
        width: 15em;
        height: auto;
    }
    .usuario{
        justify-content: space-around !important;
    }
}
@media (min-width: 1024px) {
    .collapse.dont-collapse-sm {
      display: block;
      height: auto !important;
      visibility: visible;
      display: flex;
      flex-direction: row;
    }
    .tamano-header{
        font-size: 28px !important;
    }
    h1{
        font-size:48px;
    }
    .datos-personales>div>button{
        width: 6em;
        height: 4em;
        padding:0.9rem;
        align-items:center;
    }
    .datos-personales>div>button>img{
        width: 3.5em;
        height: auto;
        padding:0.8rem;
        max-width:100%;
        
    }
    .contenedor>img{
        width: 15em;
        height: auto;
    }
    .progress{
        height:1.5rem;
        font-size: 20px;
        margin-bottom: 1rem !important;
    }
    .descripcion{
        font-size: 20px;
    }
}
@media (min-width: 1440px) {

    .tamano-header{
        font-size: 35px !important;
    }
    h1{
        font-size:60px;
    }
    .datos-personales>div>button{
        width: 8em;
        height: 5em;
        align-items:center;
    }
    .datos-personales>div>button>img{
        width: 3.5em;
        height: auto;
        max-width:100%; 
      }
      .usuario{
          justify-content:center !important;
      }
      .contenedor>img{
        width: 20em;
        height: auto;
      }
    .progress{
        height:2rem;
        font-size: 20px;
        margin-bottom: 1.5rem !important;
    }
    .dropdown-toggle{
        display:none;
    }
    .descripcion{
        font-size: 22px;
    }
    #contacto{
        border-radius: 60px !important;
    } 
}
@media (min-width: 2560px) {
    .tamano-header{
        font-size: 70px !important;
    }
    h1{
        font-size:140px;
    }
    .datos-personales>div>button{
        width: 14em;
        height: 11em;
        align-items:center;
    }
    .datos-personales>div>button>img{
        width: 5.5em;
        height: auto;
        padding:0.8rem;
        max-width:100%;        
    }
    .contenedor>img{
        width: 40em;
        height: 40em;
    }
    .progress{
        height:3rem;
        font-size: 30px;
        margin-bottom: 2rem !important;
    }
    .descripcion{
        font-size: 40px;
    }
}

li{
    list-style:none;
    color:#D0D3D6;
}
.descripcion{
    padding:1rem;
}
#contacto{
    color:#D0D3D6;
    border: 1px solid #D0D3D6;
    border-radius: 30px;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    text-align: center;
}
#habilidades, #estudios, #experiencia, #recompensa {
    display:none;
}
section{
    color:#D6274E;
    /*background-color:#0B1E46;*/
    width: 100%;
    opacity:100%;
}
.imagen-avatar{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 0.5rem;
}
.usuario {
    display: flex;
    justify-content: flex-end;
 }
 #avatarinfo{
    color:#D0D3D6;
    background-color: #0B1E46; 
    margin-top: 0.5rem;
    border-radius: 10px;
    display:block;
 }
 button>img{
     width: 2rem;
     object-fit: cover;
 }
 .btn-secondary {
    background-color: #0B1E46;
    border-color: #0B1E46;
    color:#D0D3D6;
 }
.progress{
    margin-top:1rem;
    margin-bottom: 2rem;
    width: 100%;
}
.progress-bar{
    background-color:#CC0033;
    color:#D0D3D6;
}
.usuario:active{
    color:#D0D3D6 !important;
}
.centrado{
    position: absolute;
    top: 0;
    right: 3rem;
 }
 .contenedor{
    position:relative;
 }
.num, .num::before, .num::after{
    width: 0;
    border-color: transparent transparent gold transparent;
    border-width: 0 2rem 1.25rem 2rem;
    border-style: solid;
    position: absolute;
    transform: rotate(180deg);
    margin-top: 0;
    margin-left: 0.25rem;
    z-index: 1;
 }
 .num::before{
    content: '';
    margin-top: 0rem;
    margin-left: -2rem;
    transform: rotate(70deg);
  }
  .num::after{
    content: '';
    margin-top: 0rem;
    margin-left: -2rem;
    transform: rotate(-70deg);
}
 .barra{
    position:absolute;
    width:150px;
    top:1px;
    border: 3px solid black;
    border-radius: 5px;
    text-align: center;
 }
 .sombra{
     filter: drop-shadow(0 0 10px);
 }
.container-description {
    display: flex;
    justify-content: center;
}
.contenedor-body{
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: repeat(4,auto);
    
}
#grid-container > div{
    background-color: indigo;
    padding: 1rem;
    text-align: center;
    /*width:960px;
    margin: 0 auto;*/
}
#grid-container > :nth-child(even){
    background-color: lawngreen;
}
/*#cont-1, #cont-2{
    /*grid-column: 1 / 3;*/
    /*grid-row: 1 / 3;*/

/*}*/
.imagen-avatar{
    grid-column: 1/2;
    grid-row: 2/3;
}
.barra-progreso{
    grid-column: 2/4;
    grid-row: 3/4;
}
.clase-3{
    grid-column: 2/4;
    grid-row: 4/5;
}
.nombre{
    grid-column: 1/5;
    grid-row: 1/5;
}
